<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<!-- BASICS -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>云图测试</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/isotope.css" media="screen" />
	<link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{#    <link rel="stylesheet" href="/static/css/bootstrap.css">#}
	<link rel="stylesheet" href="/static/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- skin -->
	<link rel="stylesheet" href="/static/skin/default.css">
	<link href="/static/css/toastr.min.css" rel="stylesheet" />
    <style type="text/css">

    .help-tip{

	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	font-size: 14px;
	line-height: 16px;
	cursor: default;
    padding-bottom:5px;
    }

    .help-tip:before{
	content:'?';
	font-weight: bold;
	color:#746666;
    font-size: 12px;

    }

    .help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

    }

    .help-tip p{
	display: none;
	text-align: left;
	background-color: #3b7491;
	padding: 20px;
	width: 300px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 13px;
	line-height: 1.4;
    }

    .help-tip p:before{
	position: absolute;
	content: '';
	width:0;
	height: 0;
	border:6px solid transparent;
	border-bottom-color:#1E2021;
	left:10px;
	top:-12px;
    }

    .help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
    }
    .button,.button:visited{
        background: #79CDC0;
	    display: inline-block;
	    padding: 5px 10px 6px;
	    color: #fff;
	    text-decoration: none;
	    -moz-border-radius: 6px;
	    -webkit-border-radius: 6px;
	    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	    border-bottom: 1px solid rgba(0,0,0,0.25);
	    position: relative;
	    cursor: pointer;
        transition-duration: 0.4s;


    }
    .button:hover {

        background-color: #4CAF50; /* Green */
        color: white;

        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    }
    </style>

{#    <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>#}
{#	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">#}
{#	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>#}

	<script type = "text/javascript" src = "/static/js/jquery.min.js"></script>
	<script src="/static/js/toastr.min.js"></script>
	<script type="text/javascript">
		toastr.options.positionClass = 'toast-bottom-center';
		$(function(){
			$("#submit").click (function (){
            //非空判断
            var task_type =$("#task_type").val();
            if (task_type=="2") {
                var val = $("#app_key").val();


                if (val == '' || $.trim(val) == '') {
                    //如果val为空或者空格，显示错误信息
                    toastr.info('app_key不能为空');
                    ///$("#errorMsg").html('不能为空');
                    /// $("#errorMsg").show();
                }

                else {
                    $("#spinner").show();

                    $.post("/datacheck/", $("#taskform").serialize())

                            .success(function () {
                                $("#spinner").hide();
                                toastr.success('校验完成');
                            })
                            .error(function () {
                                        $("#spinner").hide();
                                        toastr.error('校验失败');
                                    }
                            );
                }
            }
            else if(task_type=="1") {
                 $("#spinner").show();

                    $.post("/datacheck/", $("#taskform").serialize())

                            .success(function () {
                                $("#spinner").hide();
                                toastr.success('校验完成');
                            })
                            .error(function () {
                                        $("#spinner").hide();
                                        toastr.error('校验失败');
                                    }
                            );

                
            }

            });
		})


    function showapplist(Names){



    if (Names=="2"){

        NList=document.getElementById("applist")
        NList.style.display='';

        }else{
         Nnews=document.getElementById("applist")
        Nnews.style.display='NONE';
    }
    }
    $(function () {
        var myDate = new Date();
        var preDate = new Date(myDate.getTime() - 30*24*60*60*1000);
    $('#date1').datetimepicker({
        format: 'YYYY.MM.DD',
        locale: moment.locale('zh-cn'),
        defaultDate: preDate.toLocaleDateString(),

    });
});
        $(function () {
            var myDate = new Date();
            var preDate = new Date(myDate.getTime() - 2*24*60*60*1000);
    $('#date2').datetimepicker({
        format: 'YYYY.MM.DD',
        locale: moment.locale('zh-cn'),
        defaultDate: preDate.toLocaleDateString()
    });
});






	</script>
</head>

<body>
	<section id="header" class="appear"></section>
	<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
		<div class="container">
			<a  style="text-align: left!important;" class="myicon">
				<img src="/static/cloud-atlas-v10.png"></a>
			</div>
		</div>

		<section class="featured">
			<div class="container">
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">

						<div class="align-center">
							<div id="header-navbar" >

								<div >
									<section class="overflow-hidden">
										<div class="push-100-t push-50 =">
											<h1 data-toggle="appear" data-class="animated fadeInDown" class="h1 text-white push-10 animated fadeInDown">数据准确性校验工具</h1>

										</div>
									</section>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>








		<section id="section-contact" class="section appear clearfix">
			<div class="container">

				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">
							<h2 class="section-heading animated" data-animation="bounceInUp"></h2>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="cform" id="c-form">
                            <div class="form-group" >
                                <label for="button" style="margin-bottom: 20px;">请选择指标</label>
                                <br/>
                                <button class="button" style="margin-bottom: 15px; ">活跃指标</button>
                                <button class="button disabled" style="margin-bottom: 15px; ">新增指标</button>
                                <button class="button disabled" style="margin-bottom: 15px; ">累计指标</button>
                            </div>
							<form   id ="taskform" role="form" class="contactForm">
								<div class="form-group">
									<label for="task_type">请选择类型</label>
									<select id ="task_type" name="task_type" style="margin-top: 15px!important;margin-bottom: 15px!important; background: rgba(227, 231, 228, 1)" class="form-control" onChange ="showapplist(this.value)">
										<option value="1">全应用校验</option>
										<option value="2">单应用校验</option>


									</select>

								</div>


								<div id ="applist" style="display: none" class="form-group">
									<label for="app_key">请选择应用</label>
									<select id ="app_key" name="app_key" style="margin-top: 15px!important;margin-bottom: 15px!important; background: rgba(227, 231, 228, 1)" class="form-control" >
                                        {% for list in dt %}
                                            <option value={{ list.key }}>{{list.value}}</option>
                                        {% endfor %}
									</select>
								</div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">起始日期：</label>
                                                <div class="input-group date" id='date1'>
                                                    <input type="text" name ="begtime" class="form-control">
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">结束日期：</label>
                                                <div class="input-group date" id='date2'>
                                                    <input type="text" name="endtime" class="form-control">
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                </div>
                                        </div>
                                    </div>
                                </div>


								<button type="submit" id ="submit"  class="btn btn-theme pull-left">开始校验</button>
							</form>


						</div>
					</div>


                </div>

				<div >
					<table  style ="margin-top: 100px!important;" class ="table table-bordered"   align ="center"	border="0">
						<thead>
							<th>App_key</th>
							<th>校验结果</th>
						</thead>
						<tbody>
                            {% for result in history %}
							<tr>
								<td>{{ result.app_key|escape|linebreaks}}</td>
								<td>{{ result.result|escape|linebreaks }}</td>

							</tr>
                            {% endfor %}
						</tbody>
					</table>

				</div>

			</div>
		</section>
		<div id ="spinner" style="position:absolute;left:50%; top:60%; z-index:2000; margin-left: -25px;margin-top:-30px ;display: none;" class="spinner">
			<p style="font:inherit">校验中...</p>
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>




		<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

		<script src="/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
{#		<script src="/static/js/jquery.js"></script>#}
		<script src="/static/js/jquery.easing.1.3.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/jquery.isotope.min.js"></script>
		<script src="/static/js/jquery.nicescroll.min.js"></script>
		<script src="/static/js/fancybox/jquery.fancybox.pack.js"></script>
		<script src="/static/js/skrollr.min.js"></script>
		<script src="/static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
		<script src="/static/js/jquery.localscroll-1.2.7-min.js"></script>
		<script src="/static/js/stellar.js"></script>
		<script src="/static/js/jquery.appear.js"></script>
		<script src="/static/js/validate.js"></script>
		<script src="/static/js/main.js"></script>

        <script src="https://cdn.bootcss.com/moment.js/2.18.1/moment-with-locales.min.js"></script>
	    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>

	</body>
	</html>